header{
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 3%;
}

header img {
    width: 100%;
    
    
}



nav{
    display: flex;
    justify-content: center;
    background-color: #E0EEEE ;
    border: solid 2px #5F9EA0;
    border-radius: 10px;
    width: 300px;
    height: 32px;
    margin-bottom: 30px;
    
}

#txtSearch{
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
}

#btnSearch{
    border: none;
    height: 32px;
    border-radius: 0 5px 5px 0;
    width: 78px;
    font-weight: bold;
    background: #5F9EA0;

}



#listaPokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
    list-style-type: none; 
    text-transform: capitalize;  
    padding: 10px; 
    
}

/* li {
    list-style-type: none;
} */

.card-fire{
   background-color: #fb6c6c;
   border-radius: 20px;
   margin: 10px;
   opacity: 70%;
}



.card-grass{
    background-color: #46d1b2;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}


.card-bug{
    background-color: #b40001;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-normal{
    background-color: #4c2b21;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-electric{
    background-color: #ffcf4a;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}


.card-poison{
    background-color: #663295;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-fairy{
    background-color: #f590a0;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}


.card-ground{
    background-color: #795416;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-water{
    background-color: #78befe;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-fighting{
    background-color: #bf930e;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-psychic{
    background-color: #4e7019;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-ice{
    background-color: #dfddd9;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-rock{
    background-color: #383838;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}


.card-steel{
    background-color: #989898;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-flying{
    background-color: #91a8d1;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-dragon{
    background-color: #ff9b43;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}



.card-ghost, .card-dark{
    background-color: #1e1e1e;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
}

