@import url(https://fonts.googleapis.com/css2?family=Open+Sans);

header{
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 3%;
}

header img {
    width: 100%;
    
    
}


nav{
    display: flex;
    justify-content: center;
    background-color: #E0EEEE ;
    border: solid 2px #5F9EA0;
    border-radius: 10px;
    width: 300px;
    height: 32px;
    margin-bottom: 30px;
    
}

#txtSearch{
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
}

#btnSearch{
    border: none;
    height: 32px;
    border-radius: 0 5px 5px 0;
    width: 78px;
    font-weight: bold;
    background: #5F9EA0;

}


#listaPokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
    list-style-type: none; 
    text-transform: capitalize;  
    padding: 10px; 
    
}

#cardPokemon{
    background-color: #e1dcd6;
    border-radius: 20px;
    margin: 10px;
    opacity: 70%;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 20px 20px;
}

#imgPokemon{

}

#idPokemon{

}

